dist/
build/
.astro/
.output/
.gradle/
node_modules/
.venv/
.apk-lab/
.ruff_cache/
.tools/
target/
*.mpp
*.mpe
*.apk
*.apkm
*.xapk
*.so
*.dex
package-lock.json
bun.lock
uv.lock
tools.lock.json
patches-list.json
*.md
docs/
patches-bundle.json
CHANGELOG.md
